body{
/*
    width : 100vw;
    height : 100vh;
*/
}

.carousel-inner{
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-caption{
   
}
.footer{
    text-align: center;
}
.col-md-4,.col-md-5,.col-md-3{
    margin-top: 20px;
}
.col-md-9,.col-md-3{
    margin-top:20px;
}
.navbar{
    margin-top: 30px;
}
#scrollspy{
    position: relative;
}
.navpills{
    top: 20px;
}

